@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #0b0d17;
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  // font-family: 'Bellefair', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navOverlayInactive {
  z-index: -1;
  display: none;
}

.navOverlayActive {
  display: block;
  padding-top: 6rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 70vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  //backdrop blur effect compatible on all browsers
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  -o-backdrop-filter: blur(20px);
  -moz-backdrop-filter: blur(20px);
  z-index: 1;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1rem;
    margin-left: 2rem;
    li {
      margin-top: 2rem;
      letter-spacing: 2.7px;
      display: flex;
      align-items: center;
      cursor: pointer;
      &::after {
        content: "";
        display: inline-block;
        width: 3px;
        height: 30px;
        margin-left: auto;
        background-color: #fff;
        opacity: 0;

      }
      span {
        font-weight: bold;
        margin-left: 1rem;
        margin-right: 0.5rem; 
      }
      &:hover {
        color: #ffc107;
        &::after {
          opacity: 1;
        }
      }

    }

    
  }
}
